In [1]:
import jqdatasdk
from jqdatasdk import *
jqdatasdk.auth("13141315365", "315365")

提示：当前环境pandas版本为0.25，get_price与get_fundamentals_continuously接口panel参数将固定为False
注意：0.25以上版本pandas不支持panel，如使用该数据结构和相关函数请注意修改
auth success

# 智能手机

In [3]:
stocks=get_concept_stocks('GN973', date=None)
stocks[:3]

['000063.XSHE', '000100.XSHE', '000823.XSHE']

In [4]:
# 历史行情数据
get_price(stocks, start_date='2015-01-01', end_date='2020-12-31', frequency='daily', fields=None, skip_paused=False, fq='pre', panel=True)

,time,code,open,close,high,low,volume,money
0,2015-01-05,300303.XSHE,4.09,4.11,4.12,4.02,10847045.0,44094928.0
1,2015-01-06,300303.XSHE,4.09,4.33,4.34,4.07,21933644.0,92036184.0
2,2015-01-07,300303.XSHE,4.31,4.17,4.35,4.16,26948808.0,114288792.0
3,2015-01-08,300303.XSHE,4.16,4.18,4.26,4.14,11367376.0,47923392.0
4,2015-01-09,300303.XSHE,4.15,4.17,4.28,4.15,15202441.0,64015320.0
...,...,...,...,...,...,...,...,...
35083,2020-12-25,300285.XSHE,25.95,25.95,25.95,25.95,0.0,0.0
35084,2020-12-28,300285.XSHE,25.95,25.95,25.95,25.95,0.0,0.0
35085,2020-12-29,300285.XSHE,25.95,25.95,25.95,25.95,0.0,0.0
35086,2020-12-30,300285.XSHE,25.95,25.95,25.95,25.95,0.0,0.0
35087,2020-12-31,300285.XSHE,25.95,25.95,25.95,25.95,0.0,0.0

In [5]:
#上市公司员工情况
# from jqdata import finance
# finance.run_query(query(finance.STK_EMPLOYEE_INFO).filter(finance.STK_EMPLOYEE_INFO.code==code).limit(10))
finance.run_query(query(finance.STK_EMPLOYEE_INFO).filter(finance.STK_EMPLOYEE_INFO.code.in_(stocks)).limit(5))

,id,company_id,code,name,end_date,pub_date,employee,retirement,graduate_rate,college_rate,middle_rate
0,27337,430000063,000063.XSHE,中兴通讯,2005-12-31,None,16609,NaN,None,None,NaN
1,27338,430000063,000063.XSHE,中兴通讯,2007-12-31,2008-03-20,48261,NaN,None,None,NaN
2,27339,430000063,000063.XSHE,中兴通讯,2008-12-31,2009-03-20,61350,20.0,None,None,NaN
3,27340,430000063,000063.XSHE,中兴通讯,2010-12-31,2011-03-18,85232,NaN,None,None,NaN
4,27341,430000063,000063.XSHE,中兴通讯,2011-12-31,2012-03-29,89786,NaN,None,None,34.8183

In [7]:
# 上市公司基本信息
finance.run_query(query(finance.STK_COMPANY_INFO).filter(finance.STK_COMPANY_INFO.code.in_(stocks)).limit(1))

,id,company_id,code,full_name,short_name,a_code,b_code,h_code,fullname_en,shortname_en,...,province,city_id,city,industry_id,industry_1,industry_2,cpafirm,lawfirm,ceo,comments
0,3137,430000063,000063.XSHE,中兴通讯股份有限公司,中兴通讯,000063,None,None,ZTE Corporation,ZTE,...,广东,440300,深圳市,C39,制造业,计算机、通信和其他电子设备制造业,安永华明会计师事务所(特殊普通合伙),None,徐子阳,公司是国内三G电信设备的供应商，市场占有率高，并入选“中国IT业最具影响力十佳品牌”。CDM...

In [8]:

# 公司管理人员任职情况
finance.run_query(query(finance.STK_MANAGEMENT_INFO).filter(finance.STK_MANAGEMENT_INFO.code.in_(stocks)).order_by(finance.STK_MANAGEMENT_INFO.pub_date).limit(1))

,id,company_id,company_name,code,pub_date,person_id,name,title_class_id,title_class,title,...,highest_degree_id,highest_degree,title_level_id,title_level,profession_certificate_id,profession_certificate,nationality_id,nationality,security_career_start_year,resume
0,167007,430000823,广东汕头超声电子股份有限公司,000823.XSHE,2007-05-12,201483129,刘永锴,314001,董事会成员,董事,...,316004,大专及其他,317002,中级,None,None,None,None,None,刘永锴先生1947年出生，大学专科毕业，经济师。历任车间主任、生产科长、厂长、副总经理，汕头...

In [9]:
# 市值数据
query_object=query(valuation).filter(valuation.code.in_(stocks[:1]))
get_fundamentals(query_object, date='2020-6-9')

,id,code,pe_ratio,turnover_ratio,pb_ratio,ps_ratio,pcf_ratio,capitalization,market_cap,circulating_cap,circulating_market_cap,day,pe_ratio_lyr
0,55576964,000063.XSHE,35.2896,1.3345,4.3317,1.9857,29.6105,461292.7188,1787.5093,347583.2188,1346.885,2020-06-09,34.7232

In [11]:
query_object=query(income).filter(income.code.in_(stocks[10:11]))
get_fundamentals(query_object, date='2020-6-9')

,id,code,day,pubDate,statDate,total_operating_revenue,operating_revenue,interest_income,premiums_earned,commission_income,...,income_tax_expense,net_profit,np_parent_company_owners,minority_profit,basic_eps,diluted_eps,other_composite_income,total_composite_income,ci_parent_company_owners,ci_minority_owners
0,26853955,002416.XSHE,2020-06-09,2020-04-28,2020-03-31,1.184654e+10,1.180301e+10,43529916.0,NaN,NaN,...,49917752.0,143731184.0,129726784.0,14004397.0,0.1047,0.1047,-4746638.5,138984544.0,124777688.0,14206848.0

In [13]:
query_object=query(indicator).filter(indicator.code.in_(stocks[-2:-1]))
get_fundamentals(query_object, date='2020-6-9')

,id,code,day,pubDate,statDate,eps,adjusted_profit,operating_profit,value_change_profit,roe,...,inc_total_revenue_year_on_year,inc_total_revenue_annual,inc_revenue_year_on_year,inc_revenue_annual,inc_operation_profit_year_on_year,inc_operation_profit_annual,inc_net_profit_year_on_year,inc_net_profit_annual,inc_net_profit_to_shareholders_year_on_year,inc_net_profit_to_shareholders_annual
0,37299019,600130.XSHG,2020-06-09,2020-04-30,2020-03-31,-0.0047,-11332141.0,-4330014.0,5470923.0,-0.4,...,-71.64,-70.76,-71.64,-70.76,6.09,-120.35,-4.27,-126.04,-4.27,-126.04