# 量子计算机概念股

In [2]:
import jqdatasdk
from jqdatasdk import *
jqdatasdk.auth("13141315365", "315365")

提示：当前环境pandas版本为0.25，get_price与get_fundamentals_continuously接口panel参数将固定为False
注意：0.25以上版本pandas不支持panel，如使用该数据结构和相关函数请注意修改
auth success

In [3]:
stocks=get_concept_stocks('GN1025', date=None)
stocks[:3]

['000007.XSHE', '000555.XSHE', '000839.XSHE']

In [4]:
# 历史行情
get_price(stocks, start_date='2015-01-01', end_date='2020-12-31', frequency='daily', fields=None, skip_paused=False, fq='pre', panel=True)

,time,code,open,close,high,low,volume,money
0,2015-01-05,002224.XSHE,8.46,8.35,8.49,8.20,6610618.0,54943500.0
1,2015-01-06,002224.XSHE,8.35,8.35,8.42,8.19,12292378.0,101817672.0
2,2015-01-07,002224.XSHE,8.27,8.27,8.41,8.11,14447042.0,118780040.0
3,2015-01-08,002224.XSHE,8.28,8.17,8.30,8.08,13979402.0,114492936.0
4,2015-01-09,002224.XSHE,8.18,8.18,8.22,8.07,7845372.0,64075584.0
...,...,...,...,...,...,...,...,...
21925,2020-12-25,000007.XSHE,8.03,8.03,8.03,8.03,0.0,0.0
21926,2020-12-28,000007.XSHE,8.03,8.03,8.03,8.03,0.0,0.0
21927,2020-12-29,000007.XSHE,8.03,8.03,8.03,8.03,0.0,0.0
21928,2020-12-30,000007.XSHE,8.03,8.03,8.03,8.03,0.0,0.0
21929,2020-12-31,000007.XSHE,8.03,8.03,8.03,8.03,0.0,0.0

In [5]:
# from jqdata import finance
# finance.run_query(query(finance.STK_EMPLOYEE_INFO).filter(finance.STK_EMPLOYEE_INFO.code==code).limit(10))
finance.run_query(query(finance.STK_EMPLOYEE_INFO).filter(finance.STK_EMPLOYEE_INFO.code.in_(stocks)).limit(5))

,id,company_id,code,name,end_date,pub_date,employee,retirement,graduate_rate,college_rate,middle_rate
0,26839,430000007,000007.XSHE,全新好,2005-12-31,None,769,None,None,NaN,NaN
1,26840,430000007,000007.XSHE,ST达声,2007-12-31,2008-04-22,911,None,None,NaN,NaN
2,26841,430000007,000007.XSHE,ST达声,2008-12-31,2009-04-24,849,None,None,NaN,NaN
3,26842,430000007,000007.XSHE,ST零七,2010-12-31,2011-04-23,751,None,None,NaN,NaN
4,26843,430000007,000007.XSHE,ST零七,2011-12-31,2012-02-23,675,None,None,25.7778,74.2222

In [6]:
# 上市公司基本信息
finance.run_query(query(finance.STK_COMPANY_INFO).filter(finance.STK_COMPANY_INFO.code.in_(stocks)).limit(1))

,id,company_id,code,full_name,short_name,a_code,b_code,h_code,fullname_en,shortname_en,...,province,city_id,city,industry_id,industry_1,industry_2,cpafirm,lawfirm,ceo,comments
0,3088,430000007,000007.XSHE,深圳市全新好股份有限公司,全新好,000007,None,None,"Shenzhen Quanxinhao Co., Ltd.",Quanxinhao,...,广东,440300,深圳市,K70,房地产业,房地产业,中兴财光华会计师事务所(特殊普通合伙),广东华商律师事务所,陆波,公司主要的经营范围包括：投资兴办实业（具体项目另外申报）；国内商业、物资供销业（不含专营、专...

In [7]:
# 公司管理人员任职情况
finance.run_query(query(finance.STK_MANAGEMENT_INFO).filter(finance.STK_MANAGEMENT_INFO.code.in_(stocks)).order_by(finance.STK_MANAGEMENT_INFO.pub_date).limit(1))

,id,company_id,company_name,code,pub_date,person_id,name,title_class_id,title_class,title,...,highest_degree_id,highest_degree,title_level_id,title_level,profession_certificate_id,profession_certificate,nationality_id,nationality,security_career_start_year,resume
0,271150,420600105,江苏永鼎股份有限公司,600105.XSHG,2007-05-19,201514333,许劲,314001,董事会成员,董事,...,316003,本科,317003,高级,None,None,None,None,None,许劲先生，中国国籍，43岁，大学，高级工程师，本公司董事，现任天津市电话器材公司总经理。

In [8]:
# 市值数据
query_object=query(valuation).filter(valuation.code.in_(stocks[:1]))
get_fundamentals(query_object, date='2020-6-9')

,id,code,pe_ratio,turnover_ratio,pb_ratio,ps_ratio,pcf_ratio,capitalization,market_cap,circulating_cap,circulating_market_cap,day,pe_ratio_lyr
0,55574868,000007.XSHE,-296.9299,0.8325,14.9689,67.2106,766.2815,34644.8047,27.9237,30894.8047,24.9012,2020-06-09,125.2886

In [9]:

query_object=query(income).filter(income.code.in_(stocks[10:11]))
get_fundamentals(query_object, date='2020-6-9')

,id,code,day,pubDate,statDate,total_operating_revenue,operating_revenue,interest_income,premiums_earned,commission_income,...,income_tax_expense,net_profit,np_parent_company_owners,minority_profit,basic_eps,diluted_eps,other_composite_income,total_composite_income,ci_parent_company_owners,ci_minority_owners
0,27268537,600105.XSHG,2020-06-09,2020-04-30,2020-03-31,483730528.0,483730528.0,NaN,NaN,NaN,...,108785.3516,-118158960.0,-116607120.0,-1551839.0,-0.0936,-0.0936,1110923.125,-117048032.0,-116035056.0,-1012978.875

In [10]:
query_object=query(indicator).filter(indicator.code.in_(stocks[-2:-1]))
get_fundamentals(query_object, date='2020-6-9')

,id,code,day,pubDate,statDate,eps,adjusted_profit,operating_profit,value_change_profit,roe,...,inc_total_revenue_year_on_year,inc_total_revenue_annual,inc_revenue_year_on_year,inc_revenue_annual,inc_operation_profit_year_on_year,inc_operation_profit_annual,inc_net_profit_year_on_year,inc_net_profit_annual,inc_net_profit_to_shareholders_year_on_year,inc_net_profit_to_shareholders_annual
0,40003987,600522.XSHG,2020-06-09,2020-04-30,2020-03-31,0.1159,305452544.0,426765216.0,-25260182.0,1.67,...,-17.81,-7.23,-17.81,-7.23,-32.03,-28.46,-33.39,-35.29,-30.98,-34.33