In [2]:
import jqdatasdk
jqdatasdk.auth("13141315365", "315365")

提示：当前环境pandas版本为0.25，get_price与get_fundamentals_continuously接口panel参数将固定为False
注意：0.25以上版本pandas不支持panel，如使用该数据结构和相关函数请注意修改
auth success

安装jqdatasdk库出现问题可以参考https://www.joinquant.com/view/community/detail/cdf86c624992fc86ed51d920ef8c637bJQData安装的问题

## 获取数据

平安银行最新股价

In [2]:
jqdatasdk.get_price("000001.XSHE")

             open  close   high   low       volume         money
2015-01-05  10.24  10.26  10.43  9.99  446489383.0  4.565388e+09
2015-01-06  10.15  10.11  10.50  9.96  338159640.0  3.453446e+09
2015-01-07   9.97   9.92  10.14  9.80  265374121.0  2.634796e+09
2015-01-08   9.93   9.58   9.97  9.55  219732012.0  2.128003e+09
2015-01-09   9.55   9.66  10.17  9.42  391555169.0  3.835378e+09
...           ...    ...    ...   ...          ...           ...
2015-12-25   9.60   9.62   9.67  9.56   51558377.0  4.956380e+08
2015-12-28   9.64   9.29   9.66  9.29  106046218.0  1.003010e+09
2015-12-29   9.30   9.38   9.38  9.28   79920944.0  7.447184e+08
2015-12-30   9.38   9.38   9.39  9.27   68685228.0  6.412772e+08
2015-12-31   9.38   9.30   9.41  9.29   63345821.0  5.916436e+08

[244 rows x 6 columns]

获取所有沪深300的股票

In [3]:
jqdatasdk.get_index_stocks('000300.XSHG')

['000001.XSHE',
 '000002.XSHE',
 '000063.XSHE',
 '000069.XSHE',
 '000100.XSHE',
 '000157.XSHE',
 '000166.XSHE',
 '000333.XSHE',
 '000338.XSHE',
 '000413.XSHE',
 '000415.XSHE',
 '000423.XSHE',
 '000425.XSHE',
 '000538.XSHE',
 '000568.XSHE',
 '000596.XSHE',
 '000625.XSHE',
 '000627.XSHE',
 '000629.XSHE',
 '000630.XSHE',
 '000651.XSHE',
 '000656.XSHE',
 '000661.XSHE',
 '000671.XSHE',
 '000703.XSHE',
 '000709.XSHE',
 '000723.XSHE',
 '000725.XSHE',
 '000728.XSHE',
 '000768.XSHE',
 '000776.XSHE',
 '000783.XSHE',
 '000786.XSHE',
 '000858.XSHE',
 '000876.XSHE',
 '000895.XSHE',
 '000898.XSHE',
 '000938.XSHE',
 '000961.XSHE',
 '000963.XSHE',
 '001979.XSHE',
 '002001.XSHE',
 '002007.XSHE',
 '002008.XSHE',
 '002010.XSHE',
 '002024.XSHE',
 '002027.XSHE',
 '002032.XSHE',
 '002044.XSHE',
 '002050.XSHE',
 '002081.XSHE',
 '002120.XSHE',
 '002142.XSHE',
 '002146.XSHE',
 '002153.XSHE',
 '002179.XSHE',
 '002202.XSHE',
 '002230.XSHE',
 '002236.XSHE',
 '002241.XSHE',
 '002252.XSHE',
 '002271.XSHE',
 '002294.XSHE',
 '002304.XSHE',
 '002311.XSHE',
 '002352.XSHE',
 '002410.XSHE',
 '002411.XSHE',
 '002415.XSHE',
 '002422.XSHE',
 '002456.XSHE',
 '002460.XSHE',
 '002466.XSHE',
 '002468.XSHE',
 '002475.XSHE',
 '002493.XSHE',
 '002508.XSHE',
 '002555.XSHE',
 '002558.XSHE',
 '002594.XSHE',
 '002601.XSHE',
 '002602.XSHE',
 '002607.XSHE',
 '002624.XSHE',
 '002673.XSHE',
 '002714.XSHE',
 '002736.XSHE',
 '002739.XSHE',
 '002773.XSHE',
 '002841.XSHE',
 '002916.XSHE',
 '002938.XSHE',
 '002939.XSHE',
 '002945.XSHE',
 '002958.XSHE',
 '300003.XSHE',
 '300015.XSHE',
 '300017.XSHE',
 '300024.XSHE',
 '300033.XSHE',
 '300059.XSHE',
 '300070.XSHE',
 '300122.XSHE',
 '300124.XSHE',
 '300136.XSHE',
 '300142.XSHE',
 '300144.XSHE',
 '300347.XSHE',
 '300408.XSHE',
 '300413.XSHE',
 '300433.XSHE',
 '300498.XSHE',
 '600000.XSHG',
 '600004.XSHG',
 '600009.XSHG',
 '600010.XSHG',
 '600011.XSHG',
 '600015.XSHG',
 '600016.XSHG',
 '600018.XSHG',
 '600019.XSHG',
 '600023.XSHG',
 '600025.XSHG',
 '600027.XSHG',
 '600028.XSHG',
 '600029.XSHG',
 '600030.XSHG',
 '600031.XSHG',
 '600036.XSHG',
 '600038.XSHG',
 '600048.XSHG',
 '600050.XSHG',
 '600061.XSHG',
 '600066.XSHG',
 '600068.XSHG',
 '600085.XSHG',
 '600089.XSHG',
 '600100.XSHG',
 '600104.XSHG',
 '600109.XSHG',
 '600111.XSHG',
 '600115.XSHG',
 '600118.XSHG',
 '600153.XSHG',
 '600170.XSHG',
 '600176.XSHG',
 '600177.XSHG',
 '600183.XSHG',
 '600188.XSHG',
 '600196.XSHG',
 '600208.XSHG',
 '600219.XSHG',
 '600221.XSHG',
 '600233.XSHG',
 '600271.XSHG',
 '600276.XSHG',
 '600297.XSHG',
 '600299.XSHG',
 '600309.XSHG',
 '600332.XSHG',
 '600340.XSHG',
 '600346.XSHG',
 '600352.XSHG',
 '600362.XSHG',
 '600369.XSHG',
 '600372.XSHG',
 '600383.XSHG',
 '600390.XSHG',
 '600398.XSHG',
 '600406.XSHG',
 '600436.XSHG',
 '600438.XSHG',
 '600482.XSHG',
 '600487.XSHG',
 '600489.XSHG',
 '600498.XSHG',
 '600516.XSHG',
 '600519.XSHG',
 '600522.XSHG',
 '600535.XSHG',
 '600547.XSHG',
 '600566.XSHG',
 '600570.XSHG',
 '600583.XSHG',
 '600585.XSHG',
 '600588.XSHG',
 '600606.XSHG',
 '600637.XSHG',
 '600655.XSHG',
 '600660.XSHG',
 '600663.XSHG',
 '600674.XSHG',
 '600690.XSHG',
 '600703.XSHG',
 '600705.XSHG',
 '600733.XSHG',
 '600741.XSHG',
 '600760.XSHG',
 '600795.XSHG',
 '600809.XSHG',
 '600816.XSHG',
 '600837.XSHG',
 '600848.XSHG',
 '600867.XSHG',
 '600886.XSHG',
 '600887.XSHG',
 '600893.XSHG',
 '600900.XSHG',
 '600919.XSHG',
 '600926.XSHG',
 '600928.XSHG',
 '600958.XSHG',
 '600968.XSHG',
 '600977.XSHG',
 '600989.XSHG',
 '600998.XSHG',
 '600999.XSHG',
 '601006.XSHG',
 '601009.XSHG',
 '601012.XSHG',
 '601018.XSHG',
 '601021.XSHG',
 '601066.XSHG',
 '601088.XSHG',
 '601108.XSHG',
 '601111.XSHG',
 '601117.XSHG',
 '601138.XSHG',
 '601155.XSHG',
 '601162.XSHG',
 '601166.XSHG',
 '601169.XSHG',
 '601186.XSHG',
 '601198.XSHG',
 '601211.XSHG',
 '601212.XSHG',
 '601216.XSHG',
 '601225.XSHG',
 '601229.XSHG',
 '601236.XSHG',
 '601238.XSHG',
 '601288.XSHG',
 '601298.XSHG',
 '601318.XSHG',
 '601319.XSHG',
 '601328.XSHG',
 '601336.XSHG',
 '601360.XSHG',
 '601377.XSHG',
 '601390.XSHG',
 '601398.XSHG',
 '601555.XSHG',
 '601577.XSHG',
 '601600.XSHG',
 '601601.XSHG',
 '601607.XSHG',
 '601618.XSHG',
 '601628.XSHG',
 '601633.XSHG',
 '601668.XSHG',
 '601669.XSHG',
 '601688.XSHG',
 '601698.XSHG',
 '601727.XSHG',
 '601766.XSHG',
 '601788.XSHG',
 '601800.XSHG',
 '601808.XSHG',
 '601818.XSHG',
 '601828.XSHG',
 '601838.XSHG',
 '601857.XSHG',
 '601877.XSHG',
 '601878.XSHG',
 '601881.XSHG',
 '601888.XSHG',
 '601898.XSHG',
 '601899.XSHG',
 '601901.XSHG',
 '601919.XSHG',
 '601933.XSHG',
 '601939.XSHG',
 '601985.XSHG',
 '601988.XSHG',
 '601989.XSHG',
 '601992.XSHG',
 '601997.XSHG',
 '601998.XSHG',
 '603019.XSHG',
 '603156.XSHG',
 '603160.XSHG',
 '603259.XSHG',
 '603260.XSHG',
 '603288.XSHG',
 '603501.XSHG',
 '603799.XSHG',
 '603833.XSHG',
 '603899.XSHG',
 '603986.XSHG',
 '603993.XSHG']

查询'000001.XSHE'的所有市值数据, 时间是2015-10-15

In [5]:
q=jqdatasdk.query(
    jqdatasdk.valuation
).filter(
    jqdatasdk.valuation.code == '000001.XSHE'
)

df = jqdatasdk.get_fundamentals(q, '2015-10-15')

df['market_cap']

0    1598.2791
Name: market_cap, dtype: float64

查询平安银行2014年的年报

In [6]:
q = jqdatasdk.query(
        jqdatasdk.income.statDate,
        jqdatasdk.income.code,
        jqdatasdk.income.basic_eps,
        jqdatasdk.cash_flow.goods_sale_and_service_render_cash
    ).filter(
        jqdatasdk.income.code == '000001.XSHE',
    )

ret = jqdatasdk.get_fundamentals(q, statDate='2014')

In [7]:
ret

     statDate         code  basic_eps  goods_sale_and_service_render_cash
0  2014-12-31  000001.XSHE       1.73                                 NaN

## 资产负债表

In [10]:
from jqdatasdk import finance

# codeqianyuandianli="002039.xshe"
# codeqianyuandianli=jqdatasdk.normalize_code('002039')
codeshuidian=['sh600900','sh600025','sh600886','sh600236','002039','sh600674','sz000722','sz000883','000791.SZ','000993','000601','600868']
for code in codeshuidian:
    codeqianyuandianli=jqdatasdk.normalize_code(code)
    qianyuandianli=finance.run_query(jqdatasdk.query(finance.STK_BALANCE_SHEET.fixed_assets,                                                 finance.STK_BALANCE_SHEET.total_assets,                                                 finance.STK_BALANCE_SHEET.code,                                              finance.STK_BALANCE_SHEET.cash_equivalents,                                                 finance.STK_BALANCE_SHEET.pub_date,                                                 finance.STK_BALANCE_SHEET.start_date,                                                 finance.STK_BALANCE_SHEET.end_date,                                                 finance.STK_BALANCE_SHEET.company_name                                                 ).filter(finance.STK_BALANCE_SHEET.code==codeqianyuandianli,                                                          finance.STK_BALANCE_SHEET.pub_date>='2010-01-01',finance.STK_BALANCE_SHEET.report_type==0).limit(50))
    qianyuandianli

shortterm_loan	短期借款	decimal(20,4)

non_current_liability_in_one_year	一年内到期的非流动负债	decimal(20,4)

longterm_loan	长期借款	decimal(20,4)

bonds_payable	应付债券	decimal(20,4)

In [12]:
import pandas
from jqdatasdk import finance
codeshuidian=['sh600900','sh600025','sh600886','sh600236','002039','sh600674','sz000722','sz000883','000791.SZ','000993','000601','600868']
for code in codeshuidian:
    codeqianyuandianli=jqdatasdk.normalize_code(code)
    # print("\n*********",code,"***********************")
    qianyuandianli1=finance.run_query(jqdatasdk.query(finance.STK_BALANCE_SHEET.shortterm_loan,
                                                 finance.STK_BALANCE_SHEET.longterm_loan,
                                                 finance.STK_BALANCE_SHEET.non_current_liability_in_one_year,
                                                 finance.STK_BALANCE_SHEET.bonds_payable,
                                                 finance.STK_BALANCE_SHEET.total_assets,
                                                 finance.STK_BALANCE_SHEET.code,finance.STK_BALANCE_SHEET.pub_date,
                                                 finance.STK_BALANCE_SHEET.start_date,
                                                 finance.STK_BALANCE_SHEET.end_date,
                                                 finance.STK_BALANCE_SHEET.company_name
                                                 ).filter(finance.STK_BALANCE_SHEET.code==codeqianyuandianli,
                                                          finance.STK_BALANCE_SHEET.pub_date>='2010-01-01',
                                                          finance.STK_BALANCE_SHEET.report_type==0
                                                          ).limit(50))
    qianyuandianli1=qianyuandianli1.fillna(0)
    qianyuandianli1
    # qianyuandianli1.append(qianyuandianli1)
    # print((qianyuandianli1['shortterm_loan']+qianyuandianli1['longterm_loan']+qianyuandianli1['non_current_liability_in_one_year']+qianyuandianli1['bonds_payable'])/qianyuandianli1['total_assets'],qianyuandianli1['company_name'])

查询当日剩余可调用条数

In [13]:
from jqdatasdk import *
get_query_count()

{'total': 2000000, 'spare': 1997009}

获取行业概念成分股

In [14]:
r1=get_concept('000001.XSHE','2019-11-20')

In [15]:
r1

{'000001.XSHE': {'jq_concept': [{'concept_name': '陆股通重仓',
    'concept_code': 'GN1101'},
   {'concept_name': '成交主力', 'concept_code': 'GN1133'},
   {'concept_name': '基金重仓', 'concept_code': 'GN1141'},
   {'concept_name': '社保重仓', 'concept_code': 'GN1159'},
   {'concept_name': '富时罗素概念', 'concept_code': 'GN1165'},
   {'concept_name': '标普道琼斯概念', 'concept_code': 'GN1174'},
   {'concept_name': '陆股通周买入前二十', 'concept_code': 'GN1217'},
   {'concept_name': '陆股通月卖出前二十', 'concept_code': 'GN1220'},
   {'concept_name': 'MSCI中国概念', 'concept_code': 'GN1230'},
   {'concept_name': '万得A50', 'concept_code': 'GN1233'},
   {'concept_name': '基金重仓(季调)', 'concept_code': 'GN1271'},
   {'concept_name': '国家队', 'concept_code': 'GN196'},
   {'concept_name': '证金概念', 'concept_code': 'GN198'},
   {'concept_name': '白马股', 'concept_code': 'GN232'},
   {'concept_name': 'MSCI大盘', 'concept_code': 'GN240'},
   {'concept_name': '一线龙头', 'concept_code': 'GN242'},
   {'concept_name': '农村金融', 'concept_code': 'GN688'},
   {'concept_name': 'P2P', 'concept_code': 'GN700'},
   {'concept_name': '银行', 'concept_code': 'GN815'},
   {'concept_name': '信托', 'concept_code': 'GN915'},
   {'concept_name': '金改', 'concept_code': 'GN942'},
   {'concept_name': '珠三角', 'concept_code': 'GN966'}]}}

get_industries - 获取行业列表

In [16]:
get_industries(name='zjw', date=None)

           name start_date
L72       商务服务业 1996-08-29
L71         租赁业 1997-01-30
G53       铁路运输业 1998-05-11
G57       管道运输业 1996-11-04
G56       航空运输业 1997-11-05
..          ...        ...
G60         邮政业 2017-02-16
N76       水利管理业 2012-01-01
N77  生态保护和环境治理业 2012-10-26
N78     公共设施管理业 1992-08-07
E50  建筑装饰和其他建筑业 1997-05-22

[90 rows x 2 columns]

get_industry_stocks - 获取行业成份股

In [17]:
# 获取计算机/互联网行业的成分股
stocks = get_industry_stocks('I64')

In [18]:
stocks

['000503.XSHE',
 '000606.XSHE',
 '000676.XSHE',
 '000835.XSHE',
 '002072.XSHE',
 '002095.XSHE',
 '002113.XSHE',
 '002131.XSHE',
 '002174.XSHE',
 '002175.XSHE',
 '002235.XSHE',
 '002247.XSHE',
 '002315.XSHE',
 '002354.XSHE',
 '002425.XSHE',
 '002439.XSHE',
 '002447.XSHE',
 '002464.XSHE',
 '002467.XSHE',
 '002517.XSHE',
 '002530.XSHE',
 '002555.XSHE',
 '002558.XSHE',
 '002619.XSHE',
 '002624.XSHE',
 '002803.XSHE',
 '300031.XSHE',
 '300038.XSHE',
 '300043.XSHE',
 '300052.XSHE',
 '300104.XSHE',
 '300113.XSHE',
 '300226.XSHE',
 '300242.XSHE',
 '300295.XSHE',
 '300315.XSHE',
 '300343.XSHE',
 '300392.XSHE',
 '300418.XSHE',
 '300431.XSHE',
 '300459.XSHE',
 '300467.XSHE',
 '300494.XSHE',
 '300571.XSHE',
 '300766.XSHE',
 '300773.XSHE',
 '300785.XSHE',
 '300792.XSHE',
 '600070.XSHG',
 '600242.XSHG',
 '600358.XSHG',
 '600633.XSHG',
 '600634.XSHG',
 '600640.XSHG',
 '600652.XSHG',
 '600804.XSHG',
 '600899.XSHG',
 '600986.XSHG',
 '601360.XSHG',
 '603000.XSHG',
 '603258.XSHG',
 '603444.XSHG',
 '603533.XSHG',
 '603613.XSHG',
 '603825.XSHG',
 '603881.XSHG',
 '603888.XSHG',
 '688158.XSHG']

get_concepts - 获取概念列表

In [19]:
# 获取风力发电概念板块的成分股
stocks = get_concept_stocks('GN036')

In [20]:
stocks

['000791.XSHE',
 '000836.XSHE',
 '000862.XSHE',
 '000958.XSHE',
 '002080.XSHE',
 '002202.XSHE',
 '002204.XSHE',
 '002487.XSHE',
 '002531.XSHE',
 '300040.XSHE',
 '300129.XSHE',
 '300169.XSHE',
 '300185.XSHE',
 '300443.XSHE',
 '300569.XSHE',
 '300690.XSHE',
 '300772.XSHE',
 '600163.XSHG',
 '600192.XSHG',
 '600290.XSHG',
 '600416.XSHG',
 '600458.XSHG',
 '600483.XSHG',
 '600875.XSHG',
 '601016.XSHG',
 '601218.XSHG',
 '601615.XSHG',
 '601619.XSHG',
 '603063.XSHG',
 '603693.XSHG']

get_industry - 查询股票所属行业

In [21]:
#获取贵州茅台("600519.XSHG")的所属行业数据
d = get_industry("600519.XSHG",date="2018-06-01")
d

{'600519.XSHG': {'sw_l1': {'industry_code': '801120',
   'industry_name': '食品饮料I'},
  'sw_l2': {'industry_code': '801123', 'industry_name': '饮料制造II'},
  'sw_l3': {'industry_code': '851231', 'industry_name': '白酒III'},
  'zjw': {'industry_code': 'C15', 'industry_name': '酒、饮料和精制茶制造业'},
  'jq_l2': {'industry_code': 'HY478', 'industry_name': '白酒与葡萄酒指数'},
  'jq_l1': {'industry_code': 'HY005', 'industry_name': '日常消费指数'}}}

In [22]:
#同时获取多只股票的所属行业信息
stock_list = ['000001.XSHE','000002.XSHE']
d = get_industry(security=stock_list, date="2018-06-01")
d

{'000001.XSHE': {'sw_l1': {'industry_code': '801780', 'industry_name': '银行I'},
  'sw_l2': {'industry_code': '801192', 'industry_name': '银行II'},
  'sw_l3': {'industry_code': '851911', 'industry_name': '银行III'},
  'zjw': {'industry_code': 'J66', 'industry_name': '货币金融服务'},
  'jq_l2': {'industry_code': 'HY493', 'industry_name': '多元化银行指数'},
  'jq_l1': {'industry_code': 'HY007', 'industry_name': '金融指数'}},
 '000002.XSHE': {'sw_l1': {'industry_code': '801180', 'industry_name': '房地产I'},
  'sw_l2': {'industry_code': '801181', 'industry_name': '房地产开发II'},
  'sw_l3': {'industry_code': '851811', 'industry_name': '房地产开发III'},
  'zjw': {'industry_code': 'K70', 'industry_name': '房地产业'},
  'jq_l2': {'industry_code': 'HY509', 'industry_name': '房地产开发指数'},
  'jq_l1': {'industry_code': 'HY011', 'industry_name': '房地产指数'}}}

get_concept-获取股票所属概念板块

In [23]:
dict1 = get_concept('000001.XSHE', date='2019-07-15')
print(dict1)

{'000001.XSHE': {'jq_concept': [{'concept_name': '陆股通重仓', 'concept_code': 'GN1101'}, {'concept_name': '成交主力', 'concept_code': 'GN1133'}, {'concept_name': '基金重仓', 'concept_code': 'GN1141'}, {'concept_name': '富时罗素概念', 'concept_code': 'GN1165'}, {'concept_name': '标普道琼斯概念', 'concept_code': 'GN1174'}, {'concept_name': '私募重仓', 'concept_code': 'GN1178'}, {'concept_name': '陆股通日买入前二十', 'concept_code': 'GN1205'}, {'concept_name': '陆股通持续净买入', 'concept_code': 'GN1214'}, {'concept_name': '陆股通月买入前二十', 'concept_code': 'GN1215'}, {'concept_name': 'MSCI中国概念', 'concept_code': 'GN1230'}, {'concept_name': '万得A50', 'concept_code': 'GN1233'}, {'concept_name': '国家队', 'concept_code': 'GN196'}, {'concept_name': '证金概念', 'concept_code': 'GN198'}, {'concept_name': '白马股', 'concept_code': 'GN232'}, {'concept_name': 'MSCI大盘', 'concept_code': 'GN240'}, {'concept_name': '一线龙头', 'concept_code': 'GN242'}, {'concept_name': '可转债预案', 'concept_code': 'GN257'}, {'concept_name': '农村金融', 'concept_code': 'GN688'}, {'concept_name': 'P2P', 'concept_code': 'GN700'}, {'concept_name': '银行', 'concept_code': 'GN815'}, {'concept_name': '信托', 'concept_code': 'GN915'}, {'concept_name': '金改', 'concept_code': 'GN942'}, {'concept_name': '珠三角', 'concept_code': 'GN966'}]}}

## 获取行业指数数据

获取申万一级行业日行情数据

In [24]:
# 查询最近10个交易日申万一级行业指数-农林牧渔行业（801010）的日行情数据。
df=finance.run_query(query(finance.SW1_DAILY_PRICE).filter(finance.SW1_DAILY_PRICE.code=='801010').order_by(finance.SW1_DAILY_PRICE.date.desc()).limit(10))
df

,id,date,code,name,open,high,low,close,volume,money,change_pct
0,1880184,2020-06-02,801010,农林牧渔,3709.63,3769.21,3709.59,3725.40,2.299559e+09,2.668395e+10,0.89
1,1880128,2020-06-01,801010,农林牧渔,3653.60,3694.39,3633.93,3692.61,1.741388e+09,2.017782e+10,1.26
2,1880072,2020-05-29,801010,农林牧渔,3579.71,3648.69,3572.27,3646.69,1.456521e+09,1.746962e+10,1.44
3,1880016,2020-05-28,801010,农林牧渔,3650.28,3656.30,3565.79,3595.09,1.589057e+09,1.820249e+10,-1.44
4,1879960,2020-05-27,801010,农林牧渔,3678.52,3690.24,3642.51,3647.73,1.680166e+09,1.941496e+10,-0.91
5,1879904,2020-05-26,801010,农林牧渔,3681.08,3681.27,3645.27,3681.27,1.343008e+09,1.643733e+10,0.30
6,1879848,2020-05-25,801010,农林牧渔,3641.25,3687.92,3629.61,3670.19,1.353317e+09,1.838721e+10,1.15
7,1879792,2020-05-22,801010,农林牧渔,3657.45,3708.75,3607.49,3628.39,1.612986e+09,1.969208e+10,-0.92
8,1879736,2020-05-21,801010,农林牧渔,3743.92,3752.40,3650.96,3662.18,1.860094e+09,2.306326e+10,-1.84
9,1879680,2020-05-20,801010,农林牧渔,3777.00,3777.04,3723.50,3730.77,2.048092e+09,2.547892e+10,-1.55

获取申万一级行业估值数据

In [25]:
# 查询最近10个交易日申万一级行业指数-农林牧渔行业（801010）的估值数据
df=finance.run_query(query(finance.SW1_DAILY_VALUATION).filter(finance.SW1_DAILY_VALUATION.code=='801010').order_by(finance.SW1_DAILY_VALUATION.date.desc()).limit(10))
df

,id,date,code,name,turnover_ratio,pe,pb,average_price,money_ratio,circulating_market_cap,average_circulating_market_cap,dividend_ratio
0,1634575,2020-06-02,801010,农林牧渔,3.3375,19.05,3.65,15.42,3.58,1.046772e+12,1.217176e+10,0.95
1,1634519,2020-06-01,801010,农林牧渔,2.5274,18.88,3.62,15.37,2.75,1.038669e+12,1.207755e+10,0.96
2,1634463,2020-05-29,801010,农林牧渔,2.1140,18.65,3.58,15.11,3.19,1.027123e+12,1.194329e+10,1.29
3,1634407,2020-05-28,801010,农林牧渔,2.3063,18.37,3.52,15.03,3.27,1.011905e+12,1.176633e+10,1.28
4,1634351,2020-05-27,801010,农林牧渔,2.4398,18.64,3.57,15.34,3.53,1.026017e+12,1.193043e+10,1.28
5,1634295,2020-05-26,801010,农林牧渔,1.9502,18.81,3.61,15.40,3.24,1.036005e+12,1.204656e+10,1.22
6,1634239,2020-05-25,801010,农林牧渔,1.9652,18.76,3.60,15.08,3.91,1.032998e+12,1.201160e+10,1.17
7,1634183,2020-05-22,801010,农林牧渔,2.3457,18.53,3.56,14.94,3.44,1.019047e+12,1.184939e+10,1.19
8,1634127,2020-05-21,801010,农林牧渔,2.7051,18.71,3.59,15.27,3.84,1.028855e+12,1.196343e+10,1.22
9,1634071,2020-05-20,801010,农林牧渔,2.9785,19.07,3.66,15.45,3.87,1.047670e+12,1.218221e+10,1.18

## 获取交易行情数据

get_trade_days - 获取指定范围交易日

In [26]:
get_price('000300.XSHG')[:2]

               open    close     high      low        volume         money
2015-01-05  3566.09  3641.54  3669.04  3551.51  4.511981e+10  5.198498e+11
2015-01-06  3608.43  3641.06  3683.23  3587.23  4.209622e+10  4.985296e+11

In [27]:
get_price(['000300.XSHG', '000001.XSHE'])['open'][:2]

0    3566.09
1    3608.43
Name: open, dtype: float64

get_bars - 获取指定时间周期的行情数据

In [28]:
#获取贵州茅台按天为周期以"2018-12-05"为基础往前10个交易日的数据
df = get_bars('600519.XSHG', 10, unit='1d',fields=['date','open','high','low','close'],include_now=False,end_dt='2018-12-05')
df

         date    open    high     low   close
0  2018-11-21  554.00  568.90  553.68  564.70
1  2018-11-22  565.15  567.33  558.00  564.50
2  2018-11-23  564.00  567.30  556.90  556.90
3  2018-11-26  558.00  560.20  552.00  552.11
4  2018-11-27  552.00  554.99  546.50  548.10
5  2018-11-28  550.85  559.19  545.50  557.00
6  2018-11-29  566.03  569.80  549.01  551.60
7  2018-11-30  557.00  568.89  553.00  565.00
8  2018-12-03  589.00  605.00  584.77  601.20
9  2018-12-04  602.99  604.26  595.00  602.23

get_call_auction-获取集合竞价数据

In [29]:
#获取平安银行2019-09-01至2019-09-22期间的集合竞价数据
df=get_call_auction('000001.XSHE','2019-09-01','2019-09-22')
df

,code,time,current,volume,money,a1_p,a1_v,a2_p,a2_v,a3_p,...,b1_p,b1_v,b2_p,b2_v,b3_p,b3_v,b4_p,b4_v,b5_p,b5_v
0,000001.XSHE,2019-09-02 09:25:03,14.15,568900.0,8049900.0,14.15,58802.0,14.16,4500.0,14.17,...,14.14,8700.0,14.13,116000.0,14.12,30900.0,14.11,267900.0,14.10,119200.0
1,000001.XSHE,2019-09-03 09:25:03,14.48,647700.0,9378700.0,14.48,67091.0,14.49,201092.0,14.50,...,14.47,3100.0,14.46,3900.0,14.45,40000.0,14.44,700.0,14.43,1900.0
2,000001.XSHE,2019-09-04 09:25:03,14.32,322637.0,4620200.0,14.33,67179.0,14.34,17000.0,14.35,...,14.32,27063.0,14.31,12600.0,14.30,166400.0,14.29,2100.0,14.28,10100.0
3,000001.XSHE,2019-09-05 09:25:03,14.56,1673700.0,24369100.0,14.56,122434.0,14.57,364479.0,14.58,...,14.55,18700.0,14.54,2100.0,14.53,24800.0,14.51,19300.0,14.50,81700.0
4,000001.XSHE,2019-09-06 09:25:03,14.71,1096425.0,16128400.0,14.72,29700.0,14.73,4400.0,14.74,...,14.71,274575.0,14.70,421200.0,14.69,10600.0,14.68,28800.0,14.66,11400.0
5,000001.XSHE,2019-09-09 09:25:03,14.98,4488981.0,67244900.0,14.99,661734.0,15.00,684880.0,15.01,...,14.98,903019.0,14.97,10000.0,14.96,31900.0,14.95,65200.0,14.94,26100.0
6,000001.XSHE,2019-09-10 09:25:03,14.60,946970.0,13825800.0,14.61,300.0,14.62,20800.0,14.63,...,14.60,122030.0,14.59,10600.0,14.58,42900.0,14.57,20500.0,14.56,53100.0
7,000001.XSHE,2019-09-11 09:25:03,14.60,671556.0,9804700.0,14.61,12600.0,14.62,98300.0,14.63,...,14.60,1044.0,14.59,40400.0,14.58,378600.0,14.57,38300.0,14.56,139900.0
8,000001.XSHE,2019-09-12 09:25:03,14.66,688600.0,10094900.0,14.66,16750.0,14.67,23300.0,14.68,...,14.65,58100.0,14.64,5500.0,14.63,56300.0,14.62,81800.0,14.60,18100.0
9,000001.XSHE,2019-09-16 09:25:03,14.70,1011300.0,14866100.0,14.70,183862.0,14.71,113898.0,14.72,...,14.69,63400.0,14.68,456700.0,14.67,2000.0,14.66,16300.0,14.65,19200.0
10,000001.XSHE,2019-09-17 09:25:03,14.36,616481.0,8852700.0,14.39,22000.0,14.40,8300.0,14.42,...,14.36,231519.0,14.35,210500.0,14.34,44900.0,14.33,38000.0,14.32,56900.0
11,000001.XSHE,2019-09-18 09:25:03,14.24,1207199.0,17190500.0,14.25,102100.0,14.26,128849.0,14.27,...,14.24,363801.0,14.23,101000.0,14.22,3400.0,14.21,14800.0,14.20,69400.0
12,000001.XSHE,2019-09-19 09:25:03,14.48,1002943.0,14522600.0,14.49,99953.0,14.50,101700.0,14.51,...,14.48,203157.0,14.47,2700.0,14.46,82200.0,14.45,88300.0,14.43,6000.0
13,000001.XSHE,2019-09-20 09:25:03,14.95,3917700.0,58569600.0,14.95,511751.0,14.96,55200.0,14.97,...,14.94,556400.0,14.93,229100.0,14.92,151400.0,14.91,179600.0,14.90,115500.0

get_mtss - 获取融资融券信息

In [30]:
# 获取一只股票的融资融券信息
get_mtss('000001.XSHE', '2016-01-01', '2016-04-01')
get_mtss('000001.XSHE', '2016-01-01', '2016-04-01', fields=["date", "sec_code", "fin_value", "fin_buy_value"])
get_mtss('000001.XSHE', '2016-01-01', '2016-04-01', fields="sec_sell_value")

    sec_sell_value
0         184100.0
1          20800.0
2            900.0
3              0.0
4           2400.0
5          43000.0
6          11900.0
7          33300.0
8          22000.0
9           5100.0
10          6800.0
11         17200.0
12         20800.0
13          7500.0
14         11600.0
15          7300.0
16         29700.0
17         17300.0
18         17900.0
19          7200.0
20         13400.0
21         10800.0
22          1400.0
23             0.0
24             0.0
25             0.0
26             0.0
27         14800.0
28           100.0
29           400.0
30         13500.0
31             0.0
32             0.0
33          3500.0
34             0.0
35         12700.0
36          1000.0
37             0.0
38          2300.0
39          3000.0
40           500.0
41             0.0
42          1100.0
43           500.0
44           700.0
45          3600.0
46         13000.0
47          2400.0
48         15000.0
49             0.0
50         35800.0
51             0.0
52             0.0
53             0.0
54             0.0
55             0.0
56          1500.0
57        126400.0
58         31800.0
59          5000.0

In [31]:
# 获取多只股票的融资融券信息
get_mtss(['000001.XSHE', '000002.XSHE', '000099.XSHE'], '2015-03-25', '2016-01-25')
get_mtss(['000001.XSHE', '000002.XSHE', '000099.XSHE'], '2015-03-25', '2016-01-25', fields=["date", "sec_code", "sec_value", "fin_buy_value", "sec_sell_value"])

          date     sec_code  sec_value  fin_buy_value  sec_sell_value
0   2015-03-25  000001.XSHE  1401703.0    443602813.0       4212074.0
1   2015-03-26  000001.XSHE  1915450.0    414025447.0       8223542.0
2   2015-03-27  000001.XSHE  1510960.0    290626262.0       7542256.0
3   2015-03-30  000001.XSHE  1496603.0    760545895.0      11072162.0
4   2015-03-31  000001.XSHE  1556264.0    637117836.0       7769048.0
..         ...          ...        ...            ...             ...
619 2016-01-19  000099.XSHE     3400.0     37416010.0             0.0
620 2016-01-20  000099.XSHE     3400.0     33447462.0             0.0
621 2016-01-21  000099.XSHE     3400.0     29249805.0             0.0
622 2016-01-22  000099.XSHE     3400.0     17986662.0             0.0
623 2016-01-25  000099.XSHE     3400.0     14776171.0             0.0

[624 rows x 5 columns]

In [32]:
# 获取股票 000001.XSHE 在日期 2016-06-30 往前 20 个交易日的融资融券信息
get_mtss('000001.XSHE', end_date="2016-06-30", count=20)
# 获取股票 000001.XSHE 往前 20 个交易日的融资融券信息
get_mtss('000001.XSHE', count=20)

,date,sec_code,fin_value,fin_buy_value,fin_refund_value,sec_value,sec_sell_value,sec_refund_value,fin_sec_value
0,2020-05-07,000001.XSHE,3.031243e+09,78319309.0,65317150.0,1625150.0,268600.0,104800.0,3.053491e+09
1,2020-05-08,000001.XSHE,3.046890e+09,153080005.0,137432121.0,1631350.0,93900.0,87700.0,3.069648e+09
2,2020-05-11,000001.XSHE,3.010223e+09,101971354.0,138638791.0,1738050.0,146500.0,39800.0,3.034556e+09
3,2020-05-12,000001.XSHE,3.048948e+09,109511202.0,70786293.0,1578650.0,9300.0,168700.0,3.070717e+09
4,2020-05-13,000001.XSHE,3.081981e+09,104052797.0,71019546.0,1548850.0,87900.0,117700.0,3.103092e+09
5,2020-05-14,000001.XSHE,3.099970e+09,123950112.0,105961330.0,1357050.0,46300.0,238100.0,3.118019e+09
6,2020-05-15,000001.XSHE,3.142131e+09,107742147.0,65581316.0,793700.0,111900.0,675250.0,3.152631e+09
7,2020-05-18,000001.XSHE,3.095641e+09,88537136.0,135027063.0,1112600.0,357600.0,38700.0,3.110327e+09
8,2020-05-19,000001.XSHE,3.128807e+09,111353554.0,78187163.0,1077200.0,58000.0,93400.0,3.143199e+09
9,2020-05-20,000001.XSHE,3.050314e+09,83515903.0,162008836.0,1364300.0,356900.0,69800.0,3.068746e+09
10,2020-05-21,000001.XSHE,3.081154e+09,97562569.0,66723001.0,1179200.0,167500.0,352600.0,3.096955e+09
11,2020-05-22,000001.XSHE,3.046563e+09,120374439.0,154965682.0,981700.0,305700.0,503200.0,3.059246e+09
12,2020-05-25,000001.XSHE,3.036650e+09,43839680.0,53752725.0,833600.0,137800.0,285900.0,3.047453e+09
13,2020-05-26,000001.XSHE,3.066300e+09,74949618.0,45298710.0,885900.0,170300.0,118000.0,3.077853e+09
14,2020-05-27,000001.XSHE,3.079589e+09,60447906.0,47159499.0,946900.0,236900.0,175900.0,3.091899e+09
15,2020-05-28,000001.XSHE,3.012273e+09,75499759.0,142816031.0,1042426.0,339200.0,243674.0,3.025897e+09
16,2020-05-29,000001.XSHE,2.986975e+09,35044978.0,60342699.0,881900.0,124200.0,284726.0,2.998440e+09
17,2020-06-01,000001.XSHE,2.956855e+09,83956372.0,114075783.0,1230400.0,446100.0,97600.0,2.973244e+09
18,2020-06-02,000001.XSHE,2.937435e+09,64994305.0,84414418.0,1713000.0,750500.0,267900.0,2.960647e+09

get_money_flow - 获取资金流向信息

In [33]:
# 获取一只股票在一个时间段内的资金流量数据
get_money_flow('000001.XSHE', '2016-02-01', '2016-02-04')
get_money_flow('000001.XSHE', '2015-10-01', '2015-12-30', fields="change_pct")
get_money_flow(['000001.XSHE'], '2010-01-01', '2010-01-30', ["date", "sec_code", "change_pct", "net_amount_main", "net_pct_l", "net_amount_m"])

,date,sec_code,change_pct,net_amount_main,net_pct_l,net_amount_m
0,2010-01-04,000001.XSHE,-2.71,-5106.20,-5.9,1450.62
1,2010-01-05,000001.XSHE,-1.73,-14486.95,5.2,6726.09
2,2010-01-06,000001.XSHE,-1.72,-14450.14,-0.6,4722.27
3,2010-01-07,000001.XSHE,-1.09,-11419.16,-2.9,3297.08
4,2010-01-08,000001.XSHE,-0.22,-7742.95,-2.3,2342.40
5,2010-01-11,000001.XSHE,0.00,-10705.85,-2.2,3231.96
6,2010-01-12,000001.XSHE,-0.66,-17554.92,0.6,5371.28
7,2010-01-13,000001.XSHE,-6.64,-27468.81,-6.6,7563.87
8,2010-01-14,000001.XSHE,0.05,-12200.49,-0.3,3376.92
9,2010-01-15,000001.XSHE,2.19,-1834.20,0.7,229.27
10,2010-01-18,000001.XSHE,0.19,-899.93,-0.6,-824.93
11,2010-01-19,000001.XSHE,3.54,10647.76,1.0,-3885.00
12,2010-01-20,000001.XSHE,-3.82,-1618.99,-2.1,-647.59
13,2010-01-21,000001.XSHE,6.08,8993.79,0.1,-2810.56
14,2010-01-22,000001.XSHE,1.76,4005.84,-1.6,-801.16
15,2010-01-25,000001.XSHE,-3.86,-1445.98,-1.5,321.33
16,2010-01-26,000001.XSHE,-0.63,-456.26,-3.6,76.05
17,2010-01-27,000001.XSHE,-0.63,-3658.58,-1.5,1070.81
18,2010-01-28,000001.XSHE,-0.73,624.32,-1.0,-510.81
19,2010-01-29,000001.XSHE,-0.23,898.34,1.8,-475.59

In [34]:
# 获取多只股票在一个时间段内的资金流向数据
get_money_flow(['000001.XSHE', '000040.XSHE', '000099.XSHE'], '2010-01-01', '2010-01-30')

,date,sec_code,change_pct,net_amount_main,net_pct_main,net_amount_xl,net_pct_xl,net_amount_l,net_pct_l,net_amount_m,net_pct_m,net_amount_s,net_pct_s
0,2010-01-04,000099.XSHE,0.77,576.20,13.7,121.97,2.9,454.23,10.8,-46.26,-1.1,-529.93,-12.6
1,2010-01-04,000040.XSHE,-1.95,-667.22,-29.1,0.00,0.0,-667.22,-29.1,75.66,3.3,591.56,25.8
2,2010-01-04,000001.XSHE,-2.71,-5106.20,-8.8,-1682.72,-2.9,-3423.47,-5.9,1450.62,2.5,3655.57,6.3
3,2010-01-05,000040.XSHE,-2.27,-473.25,-13.3,0.00,0.0,-473.25,-13.3,-206.38,-5.8,679.62,19.1
4,2010-01-05,000001.XSHE,-1.73,-14486.95,-11.2,-21213.02,-16.4,6726.08,5.2,6726.09,5.2,7760.86,6.0
5,2010-01-05,000099.XSHE,0.77,208.24,4.9,0.00,0.0,208.24,4.9,-203.99,-4.8,-4.25,-0.1
6,2010-01-06,000099.XSHE,-0.51,99.11,1.6,173.44,2.8,-74.33,-1.2,-49.55,-0.8,-49.56,-0.8
7,2010-01-06,000040.XSHE,6.69,843.05,13.4,125.83,2.0,717.22,11.4,-301.99,-4.8,-541.06,-8.6
8,2010-01-06,000001.XSHE,-1.72,-14450.14,-15.3,-13883.47,-14.7,-566.68,-0.6,4722.27,5.0,9727.87,10.3
9,2010-01-07,000099.XSHE,-3.31,-340.93,-7.0,53.57,1.1,-394.50,-8.1,-112.02,-2.3,452.94,9.3
10,2010-01-07,000040.XSHE,1.23,241.02,2.3,272.46,2.6,-31.44,-0.3,377.25,3.6,-618.27,-5.9
11,2010-01-07,000001.XSHE,-1.09,-11419.16,-14.2,-9087.08,-11.3,-2332.08,-2.9,3297.08,4.1,8122.08,10.1
12,2010-01-08,000040.XSHE,-0.67,182.22,5.3,147.84,4.3,34.38,1.0,-123.77,-3.6,-58.45,-1.7
13,2010-01-08,000001.XSHE,-0.22,-7742.95,-11.9,-6246.41,-9.6,-1496.54,-2.3,2342.40,3.6,5400.54,8.3
14,2010-01-08,000099.XSHE,1.18,42.25,1.4,0.00,0.0,42.25,1.4,-175.03,-5.8,132.78,4.4
15,2010-01-11,000001.XSHE,0.00,-10705.85,-10.6,-8483.88,-8.4,-2221.97,-2.2,3231.96,3.2,7473.89,7.4
16,2010-01-11,000040.XSHE,-3.66,-469.66,-12.8,0.00,0.0,-469.66,-12.8,-132.09,-3.6,601.75,16.4
17,2010-01-11,000099.XSHE,0.13,-150.30,-4.2,0.00,0.0,-150.30,-4.2,-46.52,-1.3,196.82,5.5
18,2010-01-12,000040.XSHE,2.53,182.61,5.8,0.00,0.0,182.61,5.8,88.16,2.8,-270.77,-8.6
19,2010-01-12,000001.XSHE,-0.66,-17554.92,-13.4,-18340.96,-14.0,786.04,0.6,5371.28,4.1,12183.64,9.3
20,2010-01-12,000099.XSHE,2.60,361.42,5.8,68.54,1.1,292.87,4.7,105.93,1.7,-467.35,-7.5
21,2010-01-13,000099.XSHE,0.63,-256.27,-3.3,0.00,0.0,-256.27,-3.3,0.00,0.0,256.27,3.3
22,2010-01-13,000001.XSHE,-6.64,-27468.81,-13.8,-14331.55,-7.2,-13137.26,-6.6,7563.87,3.8,19904.93,10.0
23,2010-01-13,000040.XSHE,-3.70,-1019.40,-27.9,-259.42,-7.1,-759.98,-20.8,54.81,1.5,964.60,26.4
24,2010-01-14,000001.XSHE,0.05,-12200.49,-11.2,-11873.69,-10.9,-326.80,-0.3,3376.92,3.1,8823.57,8.1
25,2010-01-14,000040.XSHE,6.84,1647.19,18.2,117.66,1.3,1529.53,16.9,-190.06,-2.1,-1457.13,-16.1
26,2010-01-14,000099.XSHE,2.26,559.60,5.9,-47.42,-0.5,607.02,6.4,94.85,1.0,-654.45,-6.9
27,2010-01-15,000099.XSHE,-0.12,52.50,0.6,-166.23,-1.9,218.73,2.5,-61.24,-0.7,8.75,0.1
28,2010-01-15,000001.XSHE,2.19,-1834.20,-1.6,-2636.66,-2.3,802.47,0.7,229.27,0.2,1604.92,1.4
29,2010-01-15,000040.XSHE,-0.40,-1880.52,-15.8,-1725.79,-14.5,-154.73,-1.3,487.98,4.1,1392.53,11.7
30,2010-01-18,000099.XSHE,0.74,-21.67,-0.3,14.45,0.2,-36.12,-0.5,21.67,0.3,0.00,0.0
31,2010-01-18,000040.XSHE,0.94,577.12,11.9,0.00,0.0,577.12,11.9,-213.39,-4.4,-363.73,-7.5
32,2010-01-18,000001.XSHE,0.19,-899.93,-1.2,-449.96,-0.6,-449.96,-0.6,-824.93,-1.1,1724.87,2.3
33,2010-01-19,000001.XSHE,3.54,10647.76,7.4,9208.88,6.4,1438.89,1.0,-3885.00,-2.7,-6762.77,-4.7
34,2010-01-19,000099.XSHE,-1.22,-958.52,-13.8,0.00,0.0,-958.52,-13.8,-20.84,-0.3,979.35,14.1
35,2010-01-19,000040.XSHE,-0.80,-84.79,-1.9,102.64,2.3,-187.42,-4.2,-8.93,-0.2,93.71,2.1
36,2010-01-20,000040.XSHE,-3.88,-475.41,-7.3,-683.81,-10.5,208.40,3.2,-91.17,-1.4,566.58,8.7
37,2010-01-20,000001.XSHE,-3.82,-1618.99,-1.5,647.60,0.6,-2266.59,-2.1,-647.59,-0.6,2266.59,2.1
38,2010-01-20,000099.XSHE,-0.12,431.43,4.9,-114.46,-1.3,545.89,6.2,-237.73,-2.7,-193.70,-2.2
39,2010-01-21,000040.XSHE,0.70,33.17,1.3,-145.43,-5.7,178.60,7.0,-91.85,-3.6,58.68,2.3
40,2010-01-21,000001.XSHE,6.08,8993.79,6.4,8853.26,6.3,140.52,0.1,-2810.56,-2.0,-6183.23,-4.4
41,2010-01-21,000099.XSHE,2.97,1069.39,5.4,-178.23,-0.9,1247.62,6.3,554.50,2.8,-1623.88,-8.2
42,2010-01-22,000001.XSHE,1.76,4005.84,2.0,7210.52,3.6,-3204.68,-1.6,-801.16,-0.4,-3204.68,-1.6
43,2010-01-22,000099.XSHE,0.84,-45.27,-0.2,-67.90,-0.3,22.63,0.1,362.12,1.6,-316.86,-1.4
44,2010-01-22,000040.XSHE,0.55,465.04,11.7,0.00,0.0,465.04,11.7,-230.53,-5.8,-234.51,-5.9
45,2010-01-25,000099.XSHE,-0.24,-807.45,-3.9,-372.67,-1.8,-434.78,-2.1,-103.52,-0.5,910.96,4.4
46,2010-01-25,000040.XSHE,0.27,116.70,3.4,0.00,0.0,116.70,3.4,-13.73,-0.4,-102.97,-3.0
47,2010-01-25,000001.XSHE,-3.86,-1445.98,-1.8,-241.00,-0.3,-1204.98,-1.5,321.33,0.4,1124.65,1.4
48,2010-01-26,000040.XSHE,-0.14,-2070.39,-17.8,-535.04,-4.6,-1535.34,-13.2,616.46,5.3,1453.92,12.5
49,2010-01-26,000001.XSHE,-0.63,-456.26,-0.6,2281.30,3.0,-2737.56,-3.6,76.05,0.1,380.22,0.5
50,2010-01-26,000099.XSHE,-4.07,-1005.68,-5.7,158.79,0.9,-1164.47,-6.6,88.22,0.5,917.46,5.2
51,2010-01-27,000099.XSHE,2.00,-460.41,-2.7,-477.46,-2.8,17.05,0.1,341.04,2.0,119.36,0.7
52,2010-01-27,000040.XSHE,-8.50,223.04,3.4,0.00,0.0,223.04,3.4,-301.76,-4.6,78.72,1.2
53,2010-01-27,000001.XSHE,-0.63,-3658.58,-4.1,-2320.08,-2.6,-1338.51,-1.5,1070.81,1.2,2587.78,2.9
54,2010-01-28,000099.XSHE,4.16,-528.13,-1.9,-555.93,-2.0,27.80,0.1,333.55,1.2,194.57,0.7
55,2010-01-28,000040.XSHE,-0.45,121.05,4.4,0.00,0.0,121.05,4.4,-115.55,-4.2,-5.50,-0.2
56,2010-01-28,000001.XSHE,-0.73,624.32,1.1,1191.89,2.1,-567.57,-1.0,-510.81,-0.9,-113.51,-0.2
57,2010-01-29,000099.XSHE,-3.29,-2031.35,-6.4,-31.74,-0.1,-1999.61,-6.3,539.58,1.7,1491.77,4.7
58,2010-01-29,000040.XSHE,0.00,33.58,1.4,0.00,0.0,33.58,1.4,2.40,0.1,-35.98,-1.5
59,2010-01-29,000001.XSHE,-0.23,898.34,1.7,-52.84,-0.1,951.19,1.8,-475.59,-0.9,-422.75,-0.8

In [35]:
# 获取多只股票在某一天的资金流向数据
get_money_flow(['000001.XSHE', '000040.XSHE', '000099.XSHE'], '2016-04-01', '2016-04-01')

,date,sec_code,change_pct,net_amount_main,net_pct_main,net_amount_xl,net_pct_xl,net_amount_l,net_pct_l,net_amount_m,net_pct_m,net_amount_s,net_pct_s
0,2016-04-01,000001.XSHE,0.19,-580.30,-1.48,684.81,1.75,-1265.11,-3.23,-527.74,-1.35,1108.05,2.83
1,2016-04-01,000040.XSHE,-0.69,-293.20,-3.40,-244.34,-2.83,-48.86,-0.57,-371.15,-4.30,664.35,7.70
2,2016-04-01,000099.XSHE,-3.61,-8913.61,-23.39,-5711.44,-14.99,-3202.18,-8.40,2013.41,5.28,6900.20,18.10