In [1]:
import jqdatasdk
jqdatasdk.auth("13141315365", "******")

提示：当前环境pandas版本为0.25，get_price与get_fundamentals_continuously接口panel参数将固定为False
注意：0.25以上版本pandas不支持panel，如使用该数据结构和相关函数请注意修改
auth success

安装jqdatasdk库出现问题可以参考https://www.joinquant.com/view/community/detail/cdf86c624992fc86ed51d920ef8c637bJQData安装的问题

## 获取数据

平安银行最新股价

In [2]:
jqdatasdk.get_price("000001.XSHE")

             open  close   high   low       volume         money
2015-01-05  10.24  10.26  10.43  9.99  446489383.0  4.565388e+09
2015-01-06  10.15  10.11  10.50  9.96  338159640.0  3.453446e+09
2015-01-07   9.97   9.92  10.14  9.80  265374121.0  2.634796e+09
2015-01-08   9.93   9.58   9.97  9.55  219732012.0  2.128003e+09
2015-01-09   9.55   9.66  10.17  9.42  391555169.0  3.835378e+09
...           ...    ...    ...   ...          ...           ...
2015-12-25   9.60   9.62   9.67  9.56   51558377.0  4.956380e+08
2015-12-28   9.64   9.29   9.66  9.29  106046218.0  1.003010e+09
2015-12-29   9.30   9.38   9.38  9.28   79920944.0  7.447184e+08
2015-12-30   9.38   9.38   9.39  9.27   68685228.0  6.412772e+08
2015-12-31   9.38   9.30   9.41  9.29   63345821.0  5.916436e+08

[244 rows x 6 columns]