沪深股票列表

In [2]:
import tushare as ts

In [3]:
ts.get_stock_basics()

,name,industry,area,pe,outstanding,totals,totalAssets,liquidAssets,fixedAssets,reserved,...,bvps,pb,timeToMarket,undp,perundp,rev,profit,gpr,npr,holders
code,,,,,,,,,,,,,,,,,,,,,
688365,光云科技,软件服务,浙江,344.04,0.32,4.01,8.59,7.51,0.05,1.31,...,2.77,20.86,20200429,2.37,0.59,0.00,0.00,64.61,16.24,23935.0
688039,当虹科技,软件服务,浙江,1153.87,0.16,0.80,14.75,13.97,0.04,11.30,...,17.49,5.72,20191211,1.70,2.13,0.00,0.00,33.30,5.34,6345.0
000732,泰禾集团,区域地产,福建,0.00,24.86,24.89,2234.25,1757.53,35.34,28.20,...,7.82,0.60,19970704,88.55,3.56,-93.57,-157.99,32.85,-117.60,55558.0
300350,华鹏飞,仓储物流,深圳,543.48,3.08,4.77,14.47,11.07,1.83,7.11,...,0.94,4.06,20120821,-7.84,-1.64,-44.37,-93.87,38.09,0.94,18542.0
600662,强生控股,公共交通,上海,0.00,10.53,10.53,67.74,27.22,15.98,6.81,...,2.97,1.54,19930614,9.28,0.88,-30.06,-159.74,1.96,-13.80,80013.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605001,威奥股份,运输设备,山东,0.00,0.00,0.00,29.90,19.70,4.58,6.63,...,0.00,0.00,0,6.49,0.00,6.51,11.35,37.63,14.65,0.0
603950,长源东谷,汽车配件,湖北,0.00,0.00,0.00,27.19,11.26,10.86,2.52,...,0.00,0.00,0,5.85,0.00,8.30,48.10,30.61,23.27,0.0
601827,三峰环境,环境保护,重庆,0.00,0.00,0.00,149.98,37.08,4.93,18.24,...,0.00,0.00,0,14.71,0.00,0.00,0.00,31.59,12.81,0.0
601778,晶科科技,新型电力,江西,0.00,0.00,0.00,296.11,102.35,166.20,37.12,...,0.00,0.00,0,21.07,0.00,0.00,0.00,43.17,14.48,0.0
600918,中泰证券,证券,山东,0.00,0.00,0.00,1505.07,0.00,9.27,108.55,...,0.00,0.00,0,49.11,0.00,0.00,0.00,0.00,24.30,0.0

业绩报告主表

In [4]:
ts.get_report_data(2018,3)

[Getting data:]################################################################

,code,name,eps,eps_yoy,bvps,roe,epcf,net_profits,profits_yoy,distrib,report_date
0,688233,神工股份,0.53,NaN,NaN,24.90,NaN,6267.87,NaN,NaN,01-31
1,601696,中银证券,0.27,NaN,NaN,5.66,NaN,66865.20,NaN,NaN,01-31
2,300819,聚杰微纤,0.69,NaN,NaN,NaN,NaN,5132.98,NaN,NaN,01-31
3,603949,雪龙集团,0.60,NaN,NaN,23.41,NaN,6780.83,NaN,NaN,01-21
4,300817,双飞股份,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01-20
...,...,...,...,...,...,...,...,...,...,...,...
3801,601636,旗滨集团,0.36,14.06,NaN,13.16,NaN,95915.52,16.27,NaN,10-12
3802,300694,蠡湖股份,0.50,13.64,4.24,12.63,0.38,8133.29,13.51,NaN,10-12
3803,600728,佳都科技,0.07,108.93,NaN,3.48,NaN,11262.05,110.43,NaN,10-11
3804,600231,凌钢股份,0.46,15.00,2.72,18.29,0.61,127694.58,28.21,NaN,10-10
3805,000697,炼石航空,-0.38,11.06,NaN,-15.35,NaN,-21307.29,11.07,NaN,10-09

 盈利能力数据

In [5]:
ts.get_profit_data(2018,3)

[Getting data:]################################################################

,code,name,roe,net_profit_ratio,gross_profit_rate,net_profits,eps,business_income,bips
0,000912,泸天化,98.84,11.50,22.1065,378.3298,0.2412,3289.2687,2.0977
1,600247,ST成城,79.87,52.69,26.0066,14.7962,0.0439,28.0812,0.0834
2,000707,ST双环,67.47,4.24,2.1024,114.6149,0.2469,2700.7180,5.8186
3,600793,宜宾纸业,59.05,20.20,16.4711,210.1743,1.9959,1040.0066,9.8766
4,000526,紫光学大,49.72,2.91,29.0442,68.3027,0.7100,2344.1444,24.3686
...,...,...,...,...,...,...,...,...,...
3802,688159,有方科技,NaN,7.20,26.6782,23.6025,0.4214,327.7041,5.8518
3803,688177,百奥泰,NaN,NaN,NaN,-362.6451,NaN,NaN,NaN
3804,688188,柏楚电子,NaN,63.20,81.3490,118.0568,1.5740,186.7786,2.4903
3805,601298,青岛港,NaN,33.00,33.2461,2844.6213,0.4712,8618.7798,1.4277
3806,688218,江苏北人,NaN,12.09,26.7612,32.0677,0.3886,265.0314,3.2125

 运营能力数据

In [10]:
ts.get_operation_data(2014,3)

[Getting data:]###############################################

,code,name,arturnover,arturndays,inventory_turnover,inventory_days,currentasset_turnover,currentasset_days
0,600605,汇通能源,5.7747,46.7557,102298.4414,0.0026,3.9518,68.3233
1,002649,博彦科技,3.0000,90.0000,37127.2743,0.0073,1.0532,256.3616
2,002707,众信旅游,20.0313,13.4789,7704.9730,0.0350,3.7006,72.9611
3,002039,黔源电力,7.8636,34.3354,6360.2514,0.0425,2.0979,128.7001
4,300071,华谊嘉信,1.8090,149.2537,3002.9073,0.0899,1.4096,191.5437
...,...,...,...,...,...,...,...,...
2812,300477,合纵科技,NaN,NaN,NaN,NaN,NaN,NaN
2813,300481,濮阳惠成,NaN,NaN,NaN,NaN,NaN,NaN
2814,300486,东杰智能,NaN,NaN,NaN,NaN,NaN,NaN
2815,300490,华自科技,NaN,NaN,NaN,NaN,NaN,NaN
2816,300494,盛天网络,NaN,NaN,NaN,NaN,NaN,NaN

 成长能力数据

In [8]:
ts.get_growth_data(2014,4)

[Getting data:]#############################################################

,code,name,mbrg,nprg,nav,targ,epsg,seg
0,600485,*ST信威,1255.8458,12813.6230,2224.1825,2269.7302,529.1589,2138.2204
1,002180,纳思达,250.4530,8827.8740,55.7067,58.7560,1866.6667,51.4794
2,000908,景峰医药,1069.9568,7432.0596,18624.9539,468.2637,4483.3333,19753.3168
3,300049,福瑞股份,23.3120,4540.4789,22.2526,16.5899,1650.0000,16.9712
4,600206,有研新材,393.6011,3504.8742,136.3639,115.6028,600.0000,124.4197
...,...,...,...,...,...,...,...,...
3615,600877,ST电能,-13.6873,NaN,4.7695,-13.1763,-104.7796,4.4095
3616,002174,游族网络,-8.2919,NaN,235.1588,131.5731,-776.1134,312.3279
3617,300627,华测导航,31.3928,NaN,66.9615,34.5991,-230.0000,65.9805
3618,600966,博汇纸业,22.1486,NaN,31.2176,-15.4176,-122.0442,34.1218
3619,600543,莫高股份,-10.8471,NaN,2.0776,3.6670,-119.2308,1.6287

偿债能力数据

In [14]:
ts.get_debtpaying_data(2014,4)

[Getting data:]###############################################################

,code,name,currentratio,quickratio,cashratio,icratio,sheqratio,adratio
0,002348,高乐股份,73.7949,62.7875,4126.82,-460.766,99.0937,0.9063
1,300223,北京君正,76.4578,72.0846,7053.65,154.016,98.601,1.3990
2,000831,五矿稀土,68.9655,28.1077,1160.26,743.843,98.439,1.5610
3,300191,潜能恒信,78.4102,78.4102,6760.93,-63.9285,97.9164,2.0836
4,002581,未名医药,32.0226,30.205,2537.98,-876.838,97.3901,2.6099
...,...,...,...,...,...,...,...,...
3719,600301,ST南化,0.2968,0.2729,9.7087,-679.9387,-15.2508,115.2508
3720,600715,文投控股,0.3433,0.3433,8.1337,-1088.22,-22.6131,122.6131
3721,000155,川能动力,0.2267,0.1885,9.42,-1071.21,-64.9887,164.9887
3722,002015,协鑫能科,0.2268,0.1778,1.3036,-735.377,-139.4,239.4002
3723,600145,*ST新亿,0.1094,0.0208,0.1684,-518289,-4515.94,4615.9358

现金流量数据

In [7]:
ts.get_cashflow_data(2014,4)

[Getting data:]###############################################################

,code,name,cf_sales,rateofreturn,cf_nm,cf_liabilities,cashflowratio
0,600291,西水股份,505.8239,0.5227,61.8624,0.6362,67.1230
1,000712,锦龙股份,38.3489,0.1014,3.2875,0.1374,16.6167
2,000668,荣丰控股,14.8696,0.0954,NaN,0.1629,61.0021
3,300059,东方财富,3.8609,0.3822,14.2629,0.5491,54.9710
4,002961,瑞达期货,2.7908,0.2395,8.6145,0.2939,NaN
...,...,...,...,...,...,...,...
3719,601628,中国人寿,NaN,0.0348,2.4066,0.0399,NaN
3720,601628,中国人寿,NaN,0.0348,2.4066,0.0399,NaN
3721,601688,华泰证券,NaN,0.1117,6.6970,0.1320,NaN
3722,000750,国海证券,NaN,0.2075,7.6642,0.2847,NaN
3723,601998,中信银行,NaN,0.0083,0.8238,0.0088,NaN